<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="sass">
  @import 'styles/custom.scss'
  @import '../node_modules/bootstrap/scss/bootstrap.scss'
</style>
